*.pdf
log
*.aux
*.out
*.pdf
*.log
*.dvi
*.toc 
~*

msh/*
!msh/*.msh
!msh/*.m
!msh/*.geo

MLL-demo
MLL-lib
ML-exe
notebook/mesh/

*.tgz
*.txt
log
tags
*.orig

*.o
*.d
*.s
*.S
*.dylib
*.so
*.exe

build

doc/derivation-old/*.toc
