derivation/*.pdf
msh/*
!msh/*.msh
!msh/*.m
!msh/*.geo
MLL-demo
MLL-lib
ML-exe
*.txt
log
tags
notebook/mesh/
c-codes/msh
c-codes/Book-SPCA
c-codes/file-io/DEBUG/*
derivation/log
derivation/*.aux
derivation/*.out
derivation/*.pdf
derivation/*.dvi
derivation/*.toc 
derivation/~*
*.orig
