derivation/*.pdf
derivation/log
derivation/*.aux
derivation/*.out
derivation/*.pdf
derivation/*.dvi
derivation/*.toc 
derivation/~*

msh/*
!msh/*.msh
!msh/*.m
!msh/*.geo

MLL-demo
MLL-lib
ML-exe
notebook/mesh/

c-codes/msh
!c-codes/build
!c-codes/DEBUG
!c-codes/OUTPUT
c-codes/doc/*
!c-codes/doc/Doxyfile

*.tgz
*.txt
log
tags
*.orig

*.o
*.d
*.s
*.S
*.dylib
*.so
*.exe

build
